


dl {
    background-color: aliceblue;
    padding-left: 10px;
    padding-bottom: 5px;
}
dd {
    padding-top: 10px;
    
}
dt {
    float: left;
    font-weight: bold;
    margin-right: 0.5em;
    margin-bottom: -1em;
    padding-top: 10px;
}
dt:after {
    content: ": ";
}
dd:after {
    content: " ";
    clear: left;
    display: block;
    margin-bottom: -.8em;
    
}
